-content_for :title do
	Ticket nº	
	=@ticket.id

-content_for :button_back do
	=link_to "Atras", "/projects/#{@ticket.project.id}", :class => "back"
	
-content_for :button_new_edit do
	=link_to "Nuevo", "/tickets/new", :class => "button" unless current_page? "/tickets/new"

%h2 Titulo
%ul
	%li= @ticket.title
%h2 Creador
%ul
	%li= @ticket.user.name
%h2 Descripcion
%ul
	%li= @ticket.description
%h2 Proyecto
%ul
	%li= @ticket.project.name
%h2 Estado
%ul
	%li= @ticket.status.name
%h2 Cambios
%ul
	-for record in @ticket.records
		%li.arrow
			=link_to record.text2, "/records/#{record.id}"
